<h1>Forgot Pass?</h1>
<div class = "wrapper">
    <form id = "forgot_pass" method = "" action = "" autocomplete ="off">
        <input type ="text" id="user" name ="user" placeholder ="username"/>
        <button type="submit">&#xf0da</button>
    </form>
</div>
