<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Nice dark sign in form</title>
      <link rel="stylesheet" href="./style.css">
</head>

<body>
  <h1>Sign In Form</h1>
<div id="wrapper">
	<form id="signin" method="" action="" autocomplete="off">
		<input type="text" id="user" name="user" placeholder="username" title="only valid email"/>
		<input type="password" id="pass" name="pass" placeholder="password" title="min 6 latina symbols"/>
		<!--Помидоры, кто догадается что внутри баттона за вакханалия?-->
		<button type="submit">&#xf0da</button>
		<p>forgot your password? <a href="static_pages/forgot_pass">click here</a></p>
	</form>
</div>
  
  
</body>
</html>
